node_modules
# Keep environment variables out of version control
.env

/generated/prisma
b

uploads/users/*
uploads/attendance/*
uploads/spoof/*

!uploads/users/.gitkeep
!uploads/attendance/.gitkeep
!uploads/spoof/.gitkeep